.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #242B2E;
}

.register-form {
    color: white;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #0D0D0D;
    max-width: 600px;
    width: 100%;
}

.register-form h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #0D0D0D;
}

.register-button {
  background-color: #0D0D0D;
  color: #fff;
  padding: 7px 15px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #758283;
}
